<div class="main-modified h-100 mb-4">
    <h1 class="text-center m-0 p-4 bg-light fw-bolder">Welcome to Insawear!</h1>
    <div class="presentation bg-light text-center mt-4 mb-4 p-4">
        <h2 class="fw-bolder">OUR PRODUCTS</h2>
        <h3 class="h4">Discover our entire catalog.</h3>
    </div>
    <div class="search-container">
        <input type="text" placeholder="Search a product..." class="input-search">
    </div>
    <div class="products-container">
        {{#if noProducts}}
            <h4 class="text-light no-products">{{noProducts}}</h4>
        {{else}}
            {{#each products}}
                <div class="card" style="width: 18rem;">
                    <img src={{this.photo}} class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title h5 text-center fw-bolder">{{this.title}}</h4>
                        <p class="card-text text-center fw-normal">${{this.price}}</p>
                        <a href="#" class="btn btn-dark text-center w-100">ADD TO CART</a>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
    {{#if products}}
        <div class="prev-next-container">
            {{#if prev}}
                <a class="btn btn-dark fs-5 btn-prev" href="/?title={{filter}}&page={{prev}}">PREV</a>
            {{/if}}
            {{#if next}}
                <a class="btn btn-dark text-center fs-5 btn-next" href="/?title={{filter}}&page={{next}}">NEXT</a>
            {{/if}}
        </div>
    {{/if}}
</div>
<script src="/scripts/index.js"></script>

