<div class="form-container w-50 m-auto mt-4 mb-4">
    <h1 class="fw-bolder text-center mb-4">MY ORDERS</h1>
    <div class="orders-container">
        {{#if userOrders}}
            {{#each userOrders}}
                <div class="card">
                    <img src={{this.photo}} class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title h5 fw-bolder">{{this.name}}</h4>
                        <p class="card-text fw-normal">${{this.price}}</p>
                        <p class="card-text fw-normal">x{{this.quantity}} {{this.state}}</p>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <h1 class="no-orders">There are no orders yet.</h1>
        {{/if}}
    </div>
</div>